/*paginador*/
#esquina_izq {
	background-image: url(../imagenes/paginador/fondo_izq.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 7px;
	float: left;
	margin-left: 5px;
}
#esquina_der {
	background-image: url(../imagenes/paginador/fondo_der.gif);
	background-repeat: no-repeat;
	float: left;
	height: 17px;
	width: 7px;
	margin-right: 2px;
}

#paginador {
	clear: both;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	float: right;
}
#pagina_actual {
	float: left;
	color: #999999;
	padding-right: 5px;
	padding-top: 1px;
	font-weight: bold;
}
#controles_paginador {
	float: left;
}
#controles_paginador img {
	padding-left: 3px;
}
#ir_pagina{
	float: left;
	background-image: url(../imagenes/paginador/fondo_detras.gif);
	background-repeat: repeat-x;
	height: 17px;
}
.puntos {
	float: left;
}
.numeros {
	float: left;
}
